# Ignore Hemis documentation folder
/docs/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Environments
.env
.venv
env/
venv/
ENV/

# IDE project settings
.idea/
.vscode/
*.swp
*.swo

flexom-lib/
